/* Heading */
#heading {
  margin: 0px;
  padding: 0px;
  text-align: center;
  border-bottom: 1px solid black;
  border-top: 1px solid grey;
  font-size: 43px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

#heading:hover{
    cursor: pointer;
}

/* Main Container */
#mainContainer{
    margin: auto;
    margin-top: 20px;
    width: 99%;
    height:auto;
    display: flex;
    justify-content: space-between;
    }

/* Left Side  */
#Left{
    /* border: 1px solid green;   */
    width: 31%;
    height:auto; 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background:  linear-gradient(to left, rgb(193, 70, 174), rgb(231, 170, 231))
    ;
    border-radius :9px;
}

/* Right Side */
#Right{
    
    /* border: 1px solid red; */
    width: 68%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background:  linear-gradient(to left, rgb(193, 70, 174), rgb(231, 170, 231))
    ;
    border-radius :9px;
}

.wel{
    width: 80%;
    text-align: center;
    /* border: 1px solid rgb(182 193 70);/ */
    margin: auto;
    background: linear-gradient(to left, rgb(182 193 70), rgb(231, 170, 231));
    border-radius: 8px;
    color: rgb(111, 8, 8);
    margin-top: 2px;
    margin-bottom: 1px;
}


/* Login Button & Login Details */
.login{
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* login button */
#login_btn{
   width: 65%;
   height: 100%;
   font-size: 28px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-weight: bolder ;
   border: none;
   border-radius: 7px; 
}

#login_btn:hover{
    cursor: pointer;
    background-color: #f39;
    color: aliceblue;
}

.form{
    padding-top: 40px;
    border: 1px solid black;
    width: 99%;
    height: 300px;
    margin: auto;
    /* margin-top: 40px; */
    background-color: ghostwhite;
    border-radius: 18px;
}

#username , #password{
    width: 90%;
    height: 30px;
    margin-left:15px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#lab{
    font-family:'Times New Roman', Times, serif;
    font-size: 24px;
    margin-left:20px;
    margin-top: 40px;
}

#submit_btn{
    font-size: 25px;
    margin-left: 100px;
    width: 40%;
    height: 40px;
    
}
#submit_btn:hover{
    cursor: pointer;
    border: none;
    border-color: bisque;
    border-radius: 10px;
    background-color: #f39;
}

/*  After Login Successfully */

#Container,#Container_1{
    /* border: 1px solid red; */
    height: 500px;
    display: grid;
    grid-template-columns: repeat(1);
    grid-template-rows: repeat(1);
    padding-top: 20px;
}
#pr_btn,#ad_btn{
    font-size: 25px;
    height: 70px;
    width: 80%;
    margin-top: 30px;
    margin: auto;
    border: none;
    border: 1px solid gainsboro;
    border-radius: 8px;
    color: rgb(26, 3, 3);
}
#ur_btn{
    font-size: 25px;
    height: 70px;
    width: 80%;
    margin: auto;
    margin-bottom: 227px;
    border: none;
    border: 1px solid gainsboro;
    border-radius: 8px;
    color: rgb(26, 3, 3);
}

#pr_btn:hover,#ad_btn:hover,#de_btn:hover,#ur_btn:hover,#ft_btn:hover,#up_btn:hover,
#regis_btn:hover,
#user_btn:hover
{
    cursor: pointer !important;
    background-color: #f39;
    color: rgba(23, 16, 16, 0.683);
}

#ft_btn{
    font-size: 25px;
    height: 70px;
    width: 80%;
    margin: auto;
    margin-top: -10px;
    border: none;
    border: 1px solid gainsboro;
    border-radius: 8px;
    color: rgb(26, 3, 3);
}

#loading{
    text-align: center;
    padding-top: 80px;
}
#loading>img{
    width: 9%;
}


#de_btn{
    font-size: 25px;
    height: 70px;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    border: none;
    border: 1px solid gainsboro;
    border-radius: 8px;
    color: rgb(26, 3, 3);
}
#up_btn{
    font-size: 25px;
    height: 70px;
    width: 80%;
    margin: auto;
    margin-top: 0px;
    border: none;
    border: 1px solid gainsboro;
    border-radius: 8px;
    color: rgb(26, 3, 3);
}

#regis_btn{
    font-size: 25px;
    height: 70px;
    width: 80%;
    margin: auto;
    margin-top: -134px;
    border: none;
    border: 1px solid gainsboro;
    border-radius: 8px;
    color: rgb(26, 3, 3);
}
#user_btn{
    font-size: 25px;
    height: 70px;
    width: 80%;
    margin: auto;
    margin-top: -202px;
    border: none;
    border: 1px solid gainsboro;
    border-radius: 8px;
    color: rgb(26, 3, 3);
}

#Cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: auto; */
    gap: 8px;
    width: 98%;
    height: 80%;
    /* border: 1px solid green; */
    margin: auto;
    margin-top: 5px;
   
}

.SmallCards{
    /* border: 1px solid rgb(32, 29, 29); */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 9px;
    height: 90%;
    width: 100%;
    text-align: center;
    background-color:#e7dee6;
}

.SmallCards>img{
    border-radius: 9px;
    padding-top: 2px;
    width: 98%;
    height: 50%;
}

#Back{
    width: 10%;
    height: 60%;
    padding-top: 1px;
    margin-top: -19px;
    display: block;
    justify-content: center;
    border: none;
    color: rgb(128, 24, 24);
    font-weight: bolder;
    font-size: 20px;
    border-radius: 15px;
}

#Back:hover{
    cursor: pointer;
}

#FormInput{
    margin: auto;
    width: 50%;
    height: 450px;
    margin-top: 50px;
    border-radius: 9px;
    opacity: 2.5;
}

form{
    margin: auto;
}

#FormInput>form>input{
    display: block;
    margin: auto;
    width: 92%;
    height: 40px;
    padding: 8px 15px;
    font-size: 21px;
    border-radius: 9px;
    border: 1px solid gray;
}

input[type="submit"]:hover{
    cursor: pointer;
    background-color: hotpink;
}

#inputHeader{
    text-align: center;
}

#DeleteInput{
    margin: auto;
    width: 50%;
    height: 100px;
    margin-top: 100px;
}
#DeleteInput>form>input{
    text-align: center;
    display: block;
    margin: auto;
    width: 80%;
    height: 40px;
    padding: 5px 10px;
    font-size: 22px;
    border-radius: 9px;
    border: 1px solid gray;
}


.dataShow{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border: 1px solid grey;
    /* grid-template-rows: auto; */
    gap: 8px;
    width: 98%;
    height: auto;
    /* border: 1px solid green; */
    margin: auto;
    margin-top: 70px;
   
}

.displayCard{
    /* border: 1px solid rgb(32, 29, 29); */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 9px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: rgb(12, 1, 1);
    font-weight: bolder;
}

.displayCard>img{
    border-radius: 9px;
    padding-top: 2px;
    width: 100%;
    height: 50%;
}

/* User Details */

table{
    width: 100%;
    /* border-top: 1px solid black; */
    /* border-right: 1px solid black; */
}
.details,.details_1{
    border-right: 1px solid rgb(143, 143, 163);
    font-size: 22px;
    text-align: center;
    color: #f39;
    border-left: 1px solid rgb(143, 143, 163);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.navRow>.details:nth-child(2){
    width:20%
}
.navRow>.details:nth-child(4){
    width:35%
}
#mainContainer_tb{
    margin-top: 20px;
}
#mainContainer_tb>.navRow>.details,#mainContainer_tc>.navRow>.details_1{
    color: black;
    font-size: 20px;
    border: none;
    border-right: 1px solid rgb(214, 202, 202);
    border-bottom: 1px solid #000;
}
#cat{
    border-top: 1px solid #e66077;
    text-align: center;
    padding-top: 19px;
    border-bottom: 1px solid #e66077;
    font-size: 30px;
    margin-top: -18px;
}

.navRow>.details_1:nth-child(2){
    width:40%
}
.navRow>.details_1:nth-child(3){
    width:40%
}

.anchortag{
    text-decoration: none;
    font-size: 20px;
    border-bottom: 1px solid rgb(233, 221, 221);
    display: block;
}

#head_regDetails{
    text-align: center;
    /* border: 1px solid red; */
    margin-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    background-color: #d5c298;
    padding: 5px;
    border-radius: 8px ;
}

#but{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
}
#pg_1,#pg_2,#pg_3,#pg_4,#pg_5{
    padding: 5px;
    width: 35px;
    font-size: 20px;
    color: black;
    border-radius: 50px;
    border: 1px solid gray;
}

#pg_1:hover,#pg_2:hover,#pg_3:hover,#pg_4:hover,#pg_5:hover{
    cursor: pointer;
    background-color:#f39;
    border: none;
}