@import url(https://fonts.googleapis.com/css?family=Raleway);
/* 
html, body {
  margin: 0;
  height: 100%;
} */

* {
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin:auto;
  /* margin-top: 10px; */
  /* background: linear-gradient(to left, rgb(42, 39, 39), rgb(115, 108, 108)); */
  background-color:  rgb(255, 255, 255);
  color: white;
  height: 50px;
  padding: 1em;
  font-family: "Raleway";
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  margin-right: 150px;
  background-color: rgb(254, 248, 248);
  
}
.menu > li >a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: white;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

#loading{
  /* border: 1px solid red; */
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-left: 300px;
  margin-top: -300px;
}
#loading>img{
  width: 11%;
}

@media (max-width: 1100px) {

    .top-nav {
        color:white;
        background-color:  rgb(14, 13, 13);
        /* background: linear-gradient(to left, rgb(186, 108, 174), rgb(115, 108, 115));  */
    }
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid rgb(46, 45, 45);
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: black;
  }
  .menu > li >a{
    color:white;
  }
}