#products-container {
    display: flex;
    margin-top: 20px;
    width:auto;
}

#sticky {
    position: fixed;
    width: 100%;
  }

label {
    font-weight: bold;
    margin-left: 50px;
    font-size: 25px;
}

.filter {
    width:15%;
    background-color: white;
}

select {
    width: 250px;
    margin-left: 50px;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 16px;
}

* {
    margin: 0px;
}

h1 {
    text-align: center;
    font-size: 16px;
}

input {
    height: 40px;
    width: 300px;
    font-size: 30px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: auto;
    width: 60%;
    margin-bottom: 20px;
}

.container>div>img {
    width: 50%;
    height: 55%;
}
 
.container>div {
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    height: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container>div>h3 {
    text-transform: uppercase;
    font-size: 20px;
    margin: 5px 10px;
}

.container>div>h4 {
    margin: 5px 10px;
}

.container>div>button {
    background-color: rgb(138, 27, 150);
    width: 200px;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border: none;
    padding: 5px;
    margin: 5px 10px;
}

#PUname{
    padding-top:20px;
    font-weight: bolder;
    color: rgb(236, 29, 122);
    font-size: 19px;
    padding-left: 40px;
}

.container>div>button:hover {
    background-color: teal;
}

@media all and (min-width:701px) and (max-width:1100px) {
    #products-container {
         margin-top: 50px;
    }
    
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .container>div {
        width: 100%;
    }

    #products-container {
        flex-direction: row;
    }

    /* added day-3 */
    .filter {
        width: 25%;
    }

    select {
        width: 100%;
        margin-top: 50px;
        padding: 10px;
        margin-bottom: 40px;
        font-size: 18px;
        font-size: 16px;
    }

    label {
        font-weight: bold;
        font-size: 25px;
    }

}

@media all and (min-width:200px) and (max-width:700px) {
    #products-container {
        flex-direction: column;
        width:100% ;
    }

    .container {
        grid-template-columns: repeat(1, 1fr);
        width: 60%;
        margin-top: 50px;
    }

    .container>div {
        width:  auto;      
    }

    /* added day-3 */
    .filter {
        width: 400px;
    }

    select {
        /* width: 50%; */
        margin-left: 130px;
        padding: 10px;
        font-size: 18px;
    }

    label {
        font-weight: bold;
        margin-left: 170px;
        font-size: 25px;
    }
}
 