  #dropbtn {
    width:230px;
    background-color:  black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 50px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    margin-top: 20px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
  }
  
  .dropdown a:hover {
    background-color: rgb(217, 211, 211);
}
  
  .show {
      display: block;
      margin-left: 50px;
      font-weight: bold;
  }
  
  @media screen and (min-width:701px) and (max-width:1100px) {
    #dropbtn {
      width:220px;
    }

  }
  @media screen and (min-width:300px) and (max-width:700px) {
    #dropbtn {
      width:220px;
      margin-left:130px;
    }
    .dropdown-content{
      margin-left: 125px;
      border-radius: 10px;
    }
  }