
.loginModal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 10;
    overflow: auto;
    display: none;
    justify-content: center;
    align-items: flex-start;
}


.login-content{
    position: relative;
    background-color: #fff;
    width: 25%;
    max-height: 90%;
    margin: 8rem;
    padding: 2.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 4px 20px rgb(0, 0, 0, 0.5);
    overflow: auto;
}


#loginCrossbtn {
    position: absolute;
    right: 0px;
    width: 130px;
    height: 100px;
    color: #ff3399;
    top: 0px;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
    font-size: 45px;
    font-weight: 900;

}


.loginModal input {

    width: 100%;
    height: 40px;
    margin-bottom: 25px;
    margin-top: 10px;
    padding-left: 5px;
    border: 1px solid;
}



.loginModal h1 {
    width: 60%;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    margin-bottom: 50px;
}


.loginModal label {
    padding-left: 5px;

}

#login_btn {
    width: 102%;
    height: 40px;
    background-color: #ff3399;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 10px;
}

#login_btn:hover {
    cursor: pointer;
}





/* css for Poppup message modal */

.PopPupMessage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 10;
    overflow: auto;
    display: none;
    justify-content: center;
    align-items: flex-start;
}

.message {
    position: relative;
    background-color: #fff;
    width: auto;
    /* max-height: 50%; */
    height: auto;
    margin: 2rem;
    padding: 2rem;
    border-radius: 0.25rem;
    box-shadow: 0 4px 20px rgb(0, 0, 0, 0.5);
    overflow: auto;
}

.message p {
    margin: 1rem 0;
    line-height: 1.5rem;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 0 0.75rem;
    color: firebrick;
    user-select: none;
    cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
    color: rgb(0, 0, 0, 0.5);
}


#alertMessage {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: green;
}