/* payment Gateway */

/* .collapsible START HERE */
:root{
    --main-color:#ff3399;
    --nav-blue : #0092df;
    --grey :#f2f2f2;
    --red: #ea0020;
    --padding-left-right: 200px;
 
 }
.collapsible {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: large;
  }
  
  .active, .collapsible:hover {
    
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

/* .collapsibleEND HERE */
/* netbanking card starts here */
.container * {
    box-sizing: border-box;
   
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
     margin: 0px -16px; 
    background-color: #fff;
    
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; IE10
     flex: 75%;
  }
  #col-75{
    background-color: #fff;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 16px 16px;
  }
  
  .container {
    background-color: #fff;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color:var(--main-color);
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    border: 1px solid #ff3399;
    color: #ff3399;
    background-color: #fff;

  }
  
  a {
    color: #2196F3;
  }
  
  hr {
    border: 1px solid rgb(211, 211, 211);
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
/* netbanking card ends here */
/* upi div */

#upi-div{

background-color: var(--grey);


}



/* upi div */
#upidiv{
  background-color: #fff;
  margin: 0 -16px;
  padding: 20px;
  border: 0px solid grey;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color:var(--main-color);
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ff3399;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: var(--grey);
    
  }
  
  /* div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } */
  #upi-icons{
    width: 100%;
    
    display: flex;
    justify-content: space-evenly;
    font-size: 50px;
    color: #ff3399;
  }

  /* upi div ends here */
#delivery_div{
  background-color: #fff;
  margin: 0 -16px;
  padding: 20px;
}
#delivery_address{
  width: 100%;
  padding: 20px;
  height: 100px;
  background-color: #0092df;
}
/* modal */



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal img{
  width: 90%;
  height: 70%;
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* modal ends here */
/* /////************second modified modal**************//////* */

/* The Modal */
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal1 img{
  width: 90%;
  height: 70%;
}
/* Modal Content */
.modal-content1 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close1 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* modal ends here */
/* /////************second modified modal end*********** */